body {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    margin-bottom: 20px;
    position: relative;
}

.cart {
    position: absolute;
    border: 1px solid #000;
    width: 250px;
    right: 400px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-button {
    margin: 10px;
}

.goods__heading {
    background: blue;
    margin: 0;
    color: white;
    text-align: center;
}

.goods-item {
    background: #dddddd;
    border: solid 1px;
    display: flex;
    flex-direction: column;
}

.goods__price {
    text-align: right;
    padding-right: 20px;
}

.goods__hr {
    width: 100%;
    border: none;
    color: #000;
    background-color: #000;
    height: 1px;
}

.goods__add {
    width: 150px;
    align-self: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.goods__img {
    width: 100%;
}